[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
redis = "*"
pymongo = "*"
selenium = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
