/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Playfair Display', serif;


/*Color Variables*/
$primary-color: #0ba9ff;
$primary-color2: #56d9ff;
$title-color: #222222;
$text-color: #777777; 


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,500');




